* {
    margin : 0;
}

#avatar {
    border-radius : 50%;
    height: 35px;
}
#addquesbtn {
    border-radius : 20px;
}

body {
    background-color: rgb(241,241,241);
}
.navsearch, .navavatar{
    margin : 0px 10px;
}
.navbar {
    z-index : 15;
    box-shadow : 0px 5px 8px -9px rgba(0,0,0,0.5);
    padding : 0 0;
}
.grayicon {
    color : gray;
}
.navicon {
    padding : 10px 0;
}
.navicon:hover{
    color : #A82400;
    cursor : pointer;
    background-color: rgb(0,0,0, 0.1);
}
.activenavicon {
    color : #A82400;
}

.navicon > * {
    height : 25px;
    width : auto;
    margin: 0 20px;
    margin-bottom : -2px;
}
.navsearch{ 
    border : 1px solid rgba(0,0,0,0.2);
    padding : 0 10px;
    border-radius : 2px;
    width : 20%;
    padding-right : 0;
    overflow : hidden;
}
#navinput , #navinput:focus {
    border : none;
    outline: none;
    width : 91%;
    height : 100%;
}
.navsearch > label > svg {
    color : gray;
    margin : 10px 2px -3px 2px;
}


/* ###############################################################*/

