
header{
    position : sticky;
    top : 0;
    z-index : 1000;
}

main {
    padding: 25px 15%;
}

#profileimg , #profileoverlay, #profilepicfield{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

hr {
    width: 110%;
}

#sidecredentialcontainer > * {
    margin: 50px 5px;
}

h6{
    display: inline;
}

.edit {
    position: absolute;
    right: 0;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 3px 6px;
    color: gray;
}

.categories{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.single-tab{
    width: fit-content;
}

.single-tab:hover {
    cursor: pointer;
    background-color: #ededed;
}


/*======================================

Profile edit option */

#profileoverlay{
    display: none;
    z-index: 10;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
}
#profileimg:hover ~ #profileoverlay, #profileoverlay:hover{
    display: flex;
}

#profileedit{
    position: absolute;
    color: white;
    z-index: 11;
}

#profilepicfield, #changeprofile{
    position: absolute;
    visibility: hidden;
}

.qcardcontainer {
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;

}

#cred-update{
    background-color: white;
}