/* Add question */

#question-section, #question-categories{
    color : gray;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
}

.overlay {
    height: 100vh;
    width: 100vw;  
    background-color: black;
    opacity: 0.8;
}

.qcardcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.qcard {
    width: 40%;
    height: 70%;
    margin: 0;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

/* ================================= */

.qcardheader {
    padding: 10px;
}

#closebutton{
    margin: 0;
}

#qcardclose {
    border: none;
    border-radius: 50%;
    outline: none;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 0;
}
#qcardclose:active, #qcardclose:hover, #qtype:hover, #qtype:active {
    outline: none;
    border: none;
    background-color: #ececec;
}

#qtype{
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px 20px;
    align-self: center;
}


/* ================================= */


.qcardbody{
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
    overflow-y: scroll;
    z-index: 201;
    max-height: 60%;
}

#qcardavatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
}

.qcardinfo > * {
    font-size: small;
    font-weight: light;
}

.qcardques {
    margin-top: 20px;
    padding: 0;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

#quesfield {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    min-height: 26px;
    height: 26px;
    overflow: hidden;
    overflow-wrap: break-word;
    font-size: large;
    resize: none;
    padding-bottom: 0;
}

#quesError{
    font-size: smaller;
    color: red;
    display: none;
}

/* ================================= */

.qcardfooter{
    position: absolute;
    bottom: 0;
    padding: 10px 20px;
    display: block;
    width: 100%;
    margin: 0;
    border-top : 1px solid rgba(0,0,0,0.3);
    z-index: 205;
}

.qcardfooter > div {
    margin:0;
    padding: 0;
}

.qcardfooter > div > * {
    margin: 0 5px;
}
#qcancel{
    border: none;
    outline: none;
    background: none;
    border-radius: 20px;
    padding: 0 7px;
}

#qcancel:active , #qcancel:hover {
    background-color: #ececec;
}

#submit {
    padding: 7px 25;
    border-radius: 25px;
}