<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quora</title>
    <link rel="icon" href="../Images/quora.png" type="image/gif">
    <link rel="stylesheet" href="../CSS/interests.css">
</head>
<body>
    <div class="sign-progress">
        <img class="bar-logo" src="../Images/logo.svg">
        <span id="start-text">Start</span>
        <progress class="progress" value="50" max="100"></progress>
        <span id="finish-text">Finish</span>
    </div>
    <div class="interests-container">
        <div class="last-step-text-container">
            <div class="last-step-text">One Last Step</div>
        </div>
        <div class="interests-option">
            <ul>
                <li>
                    <input type="checkbox" id="cb1">
                    <label for="cb1"><img class="check-img" src="../Images/python-logo.png"></label>
                </li>
                <li>
                    <input type="checkbox" id="cb2">
                    <label for="cb2"><img class="check-img" src="../Images/js-logo.png"></label>
                </li>
                <li>
                    <input type="checkbox" id="cb3">
                    <label for="cb3"><img class="check-img" src="../Images/java-logo.png"></label>
                </li>
                <li>
                    <input type="checkbox" id="cb4">
                    <label for="cb4"><img class="check-img" src="../Images/php-logo.png"></label>
                </li>
            </ul>
        </div>
        <div class="submit-interests">
            <input type="submit" value="Follow at least 1 topic to continue" id="finish">
        </div>
        
    </div>
</body>
</html>